@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 antialiased;
  }
}

@layer utilities {
  .gradient-bg {
    @apply bg-gradient-to-br from-primary-50 via-white to-purple-50;
  }
}
